type-ahead {

    .input{
        width : 35vh;
        padding : 5px 5px 5px 5px; 
    }

    .ion-item{
        width : 35vh;
    }

    .ion-card{
        border: 5px 5px 5px 5px;
        border-style: solid;
        border-color: black; 
    }

    

    .li{
        font-weight: bold;
        font-size: 1.1em;
        padding: 5px 5px 5px 5px;
        margin: 2px;
    }
    
    
    .ul{
        list-style: none;
    }
}
